.gameSpace {
  background-color: rgba(42, 170, 17, 0.723);
  font-size: 100px;
  height: 150px;
  width: 110px;
}

.flex-container {
  display: flex;
}

.preventClick {
  pointer-events: none;
}

.gameSpace:hover {
  box-shadow: 0 12px 16px 0 rgb(0, 0, 0), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
